<% include common/head.ejs %>
<% include common/header.ejs%>
<div class="main_bg"><!-- start main -->
    <div class="container">
        <div class="main_grid1">
            <h3 class="style pull-left">公司动态</h3>
            <ol class="breadcrumb pull-right">
                <li><a href="/">首页</a></li>
                <li class="active">公司动态</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main_btm1"><!-- start main_btm -->
    <div class="container">
        <div class="technology">
            <div class="technology_main">
                <% postList.forEach(function (item) { %>
                    <div class="technology_list col-md-6">
                        <h4><%= item.title %><p class="h5"><%= item.time %></p></h4>
                        <div class="tech_para">
                            <p class="para"><%= item.intro %></p>
                        </div>
                        <div class="/static//static//static/images_1_of_4 bg1 pull-right">
                            <img src="<%= item.cover %>">
                        </div>
                        <div class="clearfix"></div>
                        <div class="read_btn">
                            <a href="/content/<%= item.id %>" class="btn">查看详情</a>
                        </div>
                    </div>
                <% }) %>
            </div>
            <div class="clearfix"></div>
            <% include components/pagination.ejs %>
        </div>
    </div>
</div>
<style>
    .technology_list {
        margin-top: 20px;
    }
    .technology_main img {
        max-width: 150px;
        max-height: 150px;
    }
    .tech_para {
        height: 150px;
    }
</style>
<% include common/footer %>
