<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/static/css/blue.css" rel="stylesheet" type="text/css" media="all" />
    <!----font-Awesome----->
    <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
    <!----font-Awesome----->
    <!-- start plugins -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script src="/static/js/menu.js" type="text/javascript"></script>
</head>
<body>
<% include common/header %>
<div class="main_bg"><!-- start main -->
    <div class="container">
        <div class="main_grid1">
            <h3 class="style pull-left">产品中心</h3>
            <ol class="breadcrumb pull-right">
                <li><a href="index.html">首页</a></li>
                <li class="active">产品中心</li>
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main_btm1"><!-- start main_btm -->
    <div class="container">
        <div class="portfolio_main">
            <dl>
                <dt>高级产品</dt>
                <% productList.forEach(function (item) { %>
                    <% if(item.type == '高级产品') { %>
                        <dd>
                            <div class="product-content">
                                <div style="background-image: url('<%= item.cover %>')"></div>
                                <P><%= item.title %></P>
                            </div>
                        </dd>
                    <% } %>
                <% }) %>
            </dl>
            <dl>
                <dt>人气产品</dt>
                <% productList.forEach(function (item) { %>
                <% if(item.type == '人气产品') { %>
                <dd>
                    <div class="product-content">
                        <div style="background-image: url('<%= item.cover %>')"></div>
                        <P><%= item.title %></P>
                    </div>
                </dd>
                <% } %>
                <% }) %>
            </dl>
            <dl>
                <dt>主题产品</dt>
                <% productList.forEach(function (item) { %>
                <% if(item.type == '主题产品') { %>
                <dd>
                    <div class="product-content">
                        <div style="background-image: url('<%= item.cover %>')"></div>
                        <P><%= item.title %></P>
                    </div>
                </dd>
                <% } %>
                <% }) %>
            </dl>
            <dl>
                <dt>礼盒套装</dt>
                <% productList.forEach(function (item) { %>
                <% if(item.type == '礼盒套装') { %>
                <dd>
                    <div class="product-content">
                        <div style="background-image: url('<%= item.cover %>')"></div>
                        <P><%= item.title %></P>
                    </div>
                </dd>
                <% } %>
                <% }) %>
            </dl>
        </div>
    </div>
</div>
<style>
    .portfolio_main dt {
        font-size: 28px;
        font-weight: 600;
    }
    .portfolio_main dl {
        overflow: hidden;
    }
    .portfolio_main dd {
        float: left;
        margin: 15px;
    }
    .portfolio_main dd .product-content {
        width: 240px;
        height: 240px;
        overflow: hidden;
        position: relative;
    }
    .portfolio_main dd .product-content div {
        width: inherit;
        height: inherit;
        background-size: cover;
        background-position: center center;
        transition: all .5s;
    }
    .portfolio_main dd .product-content:hover div {
        transform: scale(1.3);
    }
    .portfolio_main dd p {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 10px;
        overflow: hidden;
        background-color: rgba(0,0,0,.4);
        color: #fff;
        line-height: 2;
        font-size: 20px;
    }
</style>
<% include common/footer %>
