<% include common/header.ejs %>
<% include common/head.ejs %>
<% include common/moduleSideBar.ejs %>
<div class="content">
    <table class="layui-table">
        <thead>
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>邮箱</th>
                <th>时间</th>
                <th>主题</th>
                <th>详情</th>
            </tr>
        </thead>
        <tbody>
            <% contact.forEach(function (item) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.email %></td>
                    <td><%= item.time %></td>
                    <td><%= item.theme %></td>
                    <td><%= item.details %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <script>
        layui.use('table', function(){
            var table = layui.table;
    </script>
</div>
<% include common/footer.ejs %>
